* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {

}

.side {
  width: 400px;
  height: 100vh;
  position: fixed;
  border: 1px solid;
}

.main {
  border: 1px solid;
  width: calc(100vw - 400px);
  position: absolute;
  left: 400px;
  height: 1000px;
}