* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {

}

.side {
  width: 400px;
  height: 100vh;
  position: fixed;
  background: #3d3d69;
  color: white;
}

.marvin {
  text-align: center;
  padding: 20px;
}

#profile-image {
  width: 50%;
  border-radius: 100px;
  border: 3px solid white;
}

#name {
  font-size: 30px;
}

.main {
  border: 1px solid;
  width: calc(100vw - 400px);
  position: absolute;
  left: 400px;
  height: 1000px;
}